@media(max-width:1112px){
    .contentCtrl{
        width: 300px;
    }
    .illustrationCtrl{
        width: 400px;
    }
}

@media(max-width:780px){
    .contentCtrl{
        width: 100%;
        align-items: center;
    }
    .contentCtrl span{
        text-align: center;
    }
    .illustrationCtrl{
       margin-bottom: 40px;
    }
    .displayContainerRow{
        padding-top: 40px;
    }
}